<% if @flights.empty? %>
  <p class="font-bold text-lg">No flights found, please search again</p>

<% else %>

  <%= form_with(url: new_booking_url, method: :get, local: true, class: "flex flex-col") do |f| %>
    <%= f.hidden_field :num_passengers, value: params[:passengers] %>

    <% @flights.each do |flight| %>
      <div class="flex flex-row px-4 py-2 justify-center w-auto">
        <label class="px-2 py-2 border-r-0 border-solid border-gray-400">
          <%= f.radio_button 'flight', flight.id.to_s %>
        </label>
        <div class='px-2 py-2 border-r-0 border-solid border-gray-400'>
          From: <%= flight.from_airport.name %>
        </div>

        <div class='px-2 py-2 border-r-0 border-solid border-gray-400'>
          To: <%= flight.to_airport.name %>
        </div>
        <div class='px-2 py-2 border-r-0 border-solid border-gray-400'>
          Date: <%= flight.start.strftime('%m/%d/%Y') %>
        </div>

        <div class='px-2 py-2 border-r-0 border-solid border-gray-400'>
          Time: <%= flight.start.strftime('%H%M') %>
        </div>

        <div class='px-2 py-2 border-solid border-gray-400 w-1/4'>
          Duration: <%= flight.duration %>minutes
        </div>
      </div>
    <% end %>
    <%= f.submit "Book Flight", class: "btn btn-green" %>
    </div>
  <% end %>
<% end %>
