<%= form_with(url: flights_path, method: :get, local: true,
              class: 'form') do |f| %>

  <div class="selection">
    <%= f.label :from_airport, "From: ", class: "label" %>
    <%= f.select :from_airport, @airport_options, { selected: params[:from_airport] }, { class: "select-box" } %>
  </div>

  <div class="selection">
    <%= f.label :to_airport, "To: ", class: "label" %>
    <%= f.select :to_airport, @airport_options, { selected: params[:to_airport] }, { class: "select-box" } %> 
  </div>

  <div class="selection">
    <%= f.label :passengers, "Passengers: ", class: "label" %>
    <%= f.select :passengers, @passengers, { selected: params[:passengers] }, { class: "select-box" } %>
    <%= f.hidden_field :num_tickets, value: params[:passengers] %>
  </div>

  <div class="selection">
    <%= f.label :start, "Available Dates: ", class: "label" %>
    <%= f.select :start, options_for_select(@dates, params[:start]), { include_blank: true }, { class: "select-box" } %>
  </div>

  <%= f.submit "Search for flights", class: "btn btn-green" %>
<% end %>
